<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: AGPL-3.0-only -->
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Lumio OS</vendor>
  <vendor_url>https://lumio-os.local/</vendor_url>

  <action id="os.lumio.services.manage">
    <description>Manage systemd services through Lumio OS</description>
    <message>Authentication is required to manage services</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="os.lumio.packages.apply">
    <description>Refresh, plan and install software updates through Lumio OS</description>
    <message>Authentication is required to manage software updates</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="os.lumio.files.write-privileged">
    <description>Edit protected configuration files through Lumio OS</description>
    <message>Authentication is required to edit protected configuration files</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="os.lumio.system.power">
    <description>Reboot or power off the system through Lumio OS</description>
    <message>Authentication is required to reboot or power off</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
